.container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  list-style: none;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.textContent {
  font-size: 14px;
}