.container {
  padding: 10px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  border: 1px solid #000000;
  border-radius: 40px 5px 5px 40px;
  padding: 5px 15px;
  color: #1f2d80;
  transition: color 250ms ease-out, font-weight 200ms ease-out,
    background-color 250ms ease-out;

}
.link:hover,
.link:focus {
  color: #fff;
  font-weight: bold;
  background-color: #000000;
}

.textError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}